<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/template::head">
</head>
<body>
<header th:replace="fragments/template::nave"></header>
    <div class="container">
        <h3>Products List</h3>

        <div class="col-md-12" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/products/add}" class="btn btn-primary btn-sm" >Add</a>
        </div>

        <div th:switch="products">

            <div th:case="*">

                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Peso Gramos</th>
                        <th scope="col">Img Url</th>
                        <th scope="col">Product Category</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">

                        <th scope="row" th:text="${product.productId}" ></th>
                        <td th:text="${product.name}" ></td>
                        <td th:text="${product.description}" ></td>
                        <td th:text="${product.stock}" ></td>
                        <td th:text="${product.price}" ></td>
                        <td th:text="${product.weightGrams}" ></td>
                        <td th:text="${product.imgUrl}" ></td>
                        <td th:text="${product.productCategory.name}" ></td>
                        <td class="text-right">
                            <div class="btn-group" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/products/edit/{id} (id=${product.productId}) }" class="btn btn-secondary btn-sm" >Edit</a>
                                <a th:href="@{/products/delete/{id} (id=${product.productId}) }" class="btn btn-danger btn-sm" >Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>